<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Како отпочети рад са фајерфоксом (Firefox)';
    $body_id    = 'central';
    $body_class = 'portal-page';
    $extra_headers = <<<EXTRA_HEADERS
    <link rel="stylesheet" type="text/css" href="/style/tignish/getting-started.css" media="screen" />
EXTRA_HEADERS;
    @include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div id="main-feature">
	<h2>Како да започнете рад са фајерфоксом (Firefox)</h2>
	<p>Овде су наведени неки од наших омиљених сајтова, додатака и упутстава за фајерфокс, који ће Вам помоћи да почнете с радом.  Уживајте!</p>
</div>

<div id="gettingstarted-feature" class="pager pager-with-tabs">

	<ul id="gettingstarted-nav" class="pager-tabs">
		<li id="work-link"><a href="#feature-work">Посао</a></li>
		<li id="learn-link"><a href="#feature-learn">Учење</a></li>
		<li id="play-link"><a href="#feature-play">Игра</a></li>
		<li id="connect-link"><a href="#feature-connect">Везе</a></li>
	</ul>

	<div class="pager-content">

		<div class="gettingstarted-feature-contents" id="feature-work">
			<script type="text/javascript">// <![CDATA[
			document.getElementById('feature-work').id = 'page-feature-work';
			// ]]></script>
			<div class="col1">

				<h3>Неки од наших омиљених сајтова</h3>

				<h4><a href="http://docs.google.com/" class="external"><img src="/img/tignish/gettingstarted/sites-googledocs.png" alt="Гуглови документи (Google Docs)" height="65" width="110" />Гуглови документи (Google Docs)</a></h4>
				<p>Овај мрежни сервис омогућава Вама и Вашим сарадницима да правите и уређујете документе на мрежи.</p>
				<h4><a href="http://www.rememberthemilk.com/" class="external"><img src="/img/tignish/gettingstarted/sites-rtm.png" alt="Не заборавите млеко (Remember the Milk)" height="65" width="110" />Не заборавите млеко (Remember the Milk)</a></h4>
				<p>Да ли правите спискове задатака?  Ако је одговор да, погледајте овај бесплатан сервис за прављење спискова задатака.</p>
				<h4><a href="http://www.linkedin.com/" class="external"><img src="/img/tignish/gettingstarted/sites-linkedin.png" alt="Линкдин (LinkedIn)" height="65" width="110" />Линкдин (LinkedIn)</a></h4>
				<p>Алат за одржавање контаката учвршћује Ваше пословне везе и помаже Вам да стекнете нове.</p>

			</div>

			<div class="col2">

				<h3>Савет о фајерфоксу</h3>
				<p>Не брините о правопису.  Фајерфоксов уграђени контролор правописа ће то урадити за Вас.</p>

				<h3 class="try-this">Пробајте ова додатак</h3>
				<h4><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/addon/1407" class="external"><img src="/img/tignish/gettingstarted/sites-clipmarks.png" alt="Клипмаркс (Clipmarks Add-on)" height="65" width="110" />Додатак клипмаркс (Clipmarks Add-on)</a></h4>
				<p>Уместо да забележите целу страну, можете да исечете, сачувате и поделите само омиљене стране за убудуће.</p>

			</div>
		</div>

		<div class="gettingstarted-feature-contents" id="feature-learn">
			<script type="text/javascript">// <![CDATA[
			document.getElementById('feature-learn').id = 'page-feature-learn';
			// ]]></script>
			<div class="col1">

				<h3>Неки од наших омиљених сајтова</h3>

				<h4><a href="http://www.wikipedia.org/" class="external"><img src="/img/tignish/gettingstarted/sites-wikipedia.png" alt="Википедија (Wikipedia)" height="65" width="110" />Википедија (Wikipedia)</a></h4>
				<p>Милиони чланака су Вам на дохват руке захваљујући овој слободној енциклопедији коју стварају њени корисници.</p>
				<h4><a href="http://www.topix.com/" class="external"><img src="/img/tignish/gettingstarted/sites-topix.png" alt="Топикс (Topix)" height="65" width="110" />Топикс (Topix)</a></h4>
				<p>Вести са хиљада извора обједињени су на овом сајту у власништву заједнице.</p>
				<h4><a href="http://www.howstuffworks.com" class="external"><img src="/img/tignish/gettingstarted/sites-howstuffworks.png" alt="HowStuffWorks.com" height="65" width="110" />HowStuffWorks.com</a></h4>
				<p>Занима Вас све и свашта?  Коначно можете да сазнате шта Вас занима.</p>

			</div>

			<div class="col2">

				<h3>Савет о фајерфоксу</h3>
				<p>Будите сигурни да ћете увек наћи шта Вам треба - додајте омиљене сајтове за претрагу у фајерфоксову траку са претраживачима.</p>

				<h3 class="try-this">Пробајте овај додатак</h3>
				<h4><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/addon/735" class="external"><img src="/img/tignish/gettingstarted/sites-answers.png" alt="Додатак за одговоре (Answers Add-on)" height="65" width="110" />Додатак за одговоре (Answers Add-on)</a></h4>
				<p>Пронађите и притисните дугме миша на ма коју реч на екрану како бисте добили тражене податке.</p>

			</div>
		</div>

		<div class="gettingstarted-feature-contents" id="feature-play">
			<script type="text/javascript">// <![CDATA[
			document.getElementById('feature-play').id = 'page-feature-play';
			// ]]></script>
			<div class="col1">

				<h3>Неки од наших омиљених сајтова</h3>

				<h4><a href="http://www.youtube.com/" class="external"><img src="/img/tignish/gettingstarted/sites-youtube.png" alt="Јутјуб (YouTube)" height="65" width="110" />Јутјуб (YouTube)</a></h4>
				<p>Погледајте неки од милиона видео записа широм света, пошаљите и поделите с другима своје видео записе.</p>
				<h4><a href="http://www.hypem.com/" class="external"><img src="/img/tignish/gettingstarted/sites-hypemachine.png" alt="Хајп машина (Hype Machine)" height="65" width="110" />Хајп машина (Hype Machine)</a></h4>
				<p>Откријте, слушајте и купите музику о којој се прича на најбољим блоговима о МП3 музици.</p>
				<h4><a href="http://www.getmiro.com/" class="external"><img src="/img/tignish/gettingstarted/sites-miro.png" alt="Миро (Miro)" height="65" width="110" />Миро (Miro)</a></h4>
				<p>Бесплатан пуштач интернет телевизије и видеа отвореног кода.</p>

			</div>

			<div class="col2">

				<h3>Савет о фајерфоксу</h3>
				<p>Користите управник додацима како бисте открили још начина да фајерфокс тачно прилагодите својим потребама.</p>

				<h3 class="try-this">Пробајте овај додатак</h3>
				<h4><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/addon/5579" class="external"><img src="/img/tignish/gettingstarted/sites-piclens.png" alt="PicLens Add-on" height="65" width="110" />Додатак Пикленс (PicLens Add-on)</a></h4>
				<p>Претвара Ваш читач у потпуни систем за мрежни преглед слика.</p>

			</div>
		</div>

		<div class="gettingstarted-feature-contents" id="feature-connect">
			<script type="text/javascript">// <![CDATA[
			document.getElementById('feature-connect').id = 'page-feature-connect';
			// ]]></script>
			<div class="col1">

				<h3>Неки од наших омиљених сајтова</h3>

				<h4><a href="http://www.craigslist.org/" class="external"><img src="/img/tignish/gettingstarted/sites-craigslist.png" alt="Крегова листа (craigslist)" height="65" width="110" />Крегова листа (craigslist)</a></h4>
				<p>Опсежни мали огласи и форуми за стотине градова широм света.</p>
				<h4><a href="http://www.yelp.com/" class="external"><img src="/img/tignish/gettingstarted/sites-yelp.png" alt="Јелп (Yelp)" height="65" width="110" />Јелп (Yelp)</a></h4>
				<p>Корисничке критике локалних ресторана, продавница и практично свега осталог.</p>
				<h4><a href="http://www.facebook.com/" class="external"><img src="/img/tignish/gettingstarted/sites-facebook.png" alt="Фејсбук (Facebook)" height="65" width="110" />Фејсбук (Facebook)</a></h4>
				<p>Сајт за друштвено умрежавање помаже Вам да останете у вези са пријатељима ма где да су.</p>

			</div>

			<div class="col2">

				<h3>Савет о фајерфоксу</h3>
				<p>Будите у току са животима Ваших пријатеља праћењем мрежних довода (Web Feeds) са њихових сајтова.</p>

				<h3 class="try-this">Пробајте овај додатак</h3>
				<h4><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/addon/4365" class="external"><img src="/img/tignish/gettingstarted/sites-medium.png" alt="Додатак Ме.дијум (Me.dium Add-on)" height="65" width="110" />Додатак Ме.дијум (Me.dium Add-on)</a></h4>
				<p>Додатак за преглед друштвених мрежа који Вам омогућава да разговарате и прегледате мрежу са Вашим пријатељима.</p>

			</div>
	</div>

</div>

</div>

<div id="firefox-info">
	<h3>Више података о фајерфоксу</h3>
	<p>
		<a href="/<?=$lang?>/firefox/features/">Особине</a> | 
		<a href="/<?=$lang?>/firefox/tips/">Савети и трикови</a> | 
		<a href="http://support.mozilla.com/">Помоћ</a>
	</p>
</div>

<div id="mozilla-info">
	<h3>Више о Мозили (Mozilla)</h3>
	<p>
		<a href="/<?=$lang?>/firefox/about/">Шта је Мозила?</a> | 
		<a href="/<?=$lang?>/firefox/community/">Придружите се</a> | 
		<a href="http://intlstore.mozilla.org" class="external">Мозилина продавница</a>
	</p>
</div>


<?php
	$extra_footers = <<<EXTRA_FOOTERS
<script type="text/javascript" src="/includes/yui/2.5.1/utilities/utilities.js"></script>
<script type="text/javascript" src="/js/mozilla-pager.js"></script>

EXTRA_FOOTERS;
    @include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
