<?php

$page_title = "Геолокација у фајерфоксу (Firefox)";

@include_once "{$config['file_root']}/includes/headers/firefox/geolocation.inc.php";
@include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div id="main-feature">
    <h2>Читање осетљиво на положај</h2>
    <p>Фајерфокс 3.5 уме да обавести веб сајтове о Вашој локацији како
    бисте добили значајније и корисније информације.  То чини веб свеукупно паметнијим
    &ndash; и то тако да у потпуности поштује Вашу приватност.
    <a href="#geo-demo" id="try-geolocation" style="display:none">Испробајте га!</a></p>
</div>

<div id="main-content">

<h3>Често постављана питања</h3>

<div class="expander expander-odd">
    <h4 class="expander-header">Шта је то читање осетљиво на положај?</h4>
    <div class="expander-content">
        <p>Веб сајтови који користе читање осетљиво на положај ће Вас питати где се налазите тако да Вам понуде корисније инфомрације, или да Вам уштеде време при претрази.  Рецимо да тражите италијански ресторан у Вашој близини.   Веб сајтови ће Вас питати где се налазите, тако да само тражење италијанског ресторана даје резултате који Вам требају; нећете морати да унесете ништа више.</p>
        <p>Или, ако желите упутства како да донекле стигнете, веб сајт ће већ знати одакле крећете тако да ће бити довољно да назначите где желите да стигнете.</p>
        <p>Ова услуга је изборна &ndash; фајерфокс не објављује Вашу локацију без Вашег пристанка &ndash; и то чини са потпуним обзиром на Вашу приватност.  Као и сви остали делови фајерфокса, и овај део је направљен употребом отворених стандарда, како би програмери веба могли што лакше да га искористе.</p>
    </div>
</div>
<div class="expander expander-even">
    <h4 class="expander-header">Како то ради?</h4>
    <div class="expander-content">
        <p>Када посетите сајт који уме да обрађује локације, фајерфокс ће Вас питати да ли желите да објавите где се налазите.</p>
        <p>Ако се сагласите, фајерфокс ће сакупити податке о Вашем положају помоћу оближњих приступа бежичним мрежама и анализе ваше интернет адресе.  Фајерфокс затим шаље ове податке добављачу геолокацијских података (Гугловим услугама за лоцирање, Google Location Services) како би проценио Ваш положај.  Процењени положај се затим шаље веб сајту који га је захтевао.</p>
        <p>Ако се не сагласите, фајерфокс неће урадити ништа.</p>
    </div>
</div>
<div class="expander expander-odd">
    <h4 class="expander-header">Колико се прецизно одређује положај?</h4>
    <div class="expander-content">
        <p>Прецизност умногоме зависи од тога где се налазите.  На неким местима, наши добављачи услуга могу да Вас пронађу до на тачност од неколико метара.  На другим местима, тачност ће бити мања.  Сви положаји које процени добављач услуге су само процене, и не можемо гарантовати њихову прецизност.  Молимо да податке о локацији не користите у хитним случајевима.  Увек се служите здравим разумом.</p>
    </div>
</div>
<div class="expander expander-even">
    <h4 class="expander-header">Који подаци се шаљу и коме?  Како се чува моја приватност?</h4>
    <div class="expander-content">
        <p>Ваша приватност нам је изузетно важна; фајерфокс никада не објављује Ваш положај без Ваше дозволе.  Када посетите страну која тражи Ваше податке, бићете питани пре него се било какве информације пошаљу сајту или било ком добављачу услуга.</p>
        <p>Изворно, фајерфокс користи гуглове услуге за лоцирање тако што шаље:</p>
        <ul>
            <li>Интернет адресу Вашег рачунара,</li>
            <li>податке о оближњиим бежичним мрежама, и</li>
            <li>случајно генерисани идентификатор клијента, који истиче сваке две седмице.</li>
        </ul>
        <p>За потпуни опис података које сакупља и користи фајерфокс, молимо да видите <a href="/<?=$lang?>/legal/privacy/firefox-en.html">фајерфоксову полису о приватности</a> (на енглеском).</p>
        <p>Гуглове услуге локализације затим допремају процењени гео-положај(географску ширину и дужину).  За потпун списак података које сакупља и користи Гугл, молимо да погледате <a href="http://www.google.com/privacy-lsf.html" class="external">Гуглову полису о приватности при гео-локацији (Google Geolocation Privacy Policy)</a> (на енглеском).</p>
        <p>Подаци се размењују преко шифроване везе како би Ваша приватност била заштићена.  Када је фајерфокс једном добио Ваш положај, он га прослеђује веб сајту који га је потражио.  Име или адреса сајта којег посећујете, као ни колачићи, се никада не шаљу Гугловим услугама</p>
        <p>Нити Мозила, нити Гугл не користе, нити ће икада користити податке о Вашем положају како би Вас идентификовали или шпијунирали.</p>
        <p>За податке о томе шта одредишни веб сајт ради са подацима о Вашем положају, молимо да погледате полису о приватности дотичног сајта.</p>
        <p>За више података о приватности, молимо Вас да погледате:</p>
        <ul>
            <li><a href="/<?=$lang?>/legal/privacy/firefox-en.html">Полису о приватности Мозилиног фајерфокса</a> (на енглеском)</li>
            <li><a href="http://www.google.com/privacy-lsf.html" class="external">Гуглову полису о приватности</a> (на енглеском)</li>
        </ul>
    </div>
</div>
<div class="expander expander-odd">
    <h4 class="expander-header">Да ли ме неко прати док прегледам веб?</h4>
    <div class="expander-content">
        <p>Не.  Фајерфокс тражи податке о Вашем положају само у случају да неки веб сајт то затражи, и само уколико сте сагласни да то уради.  Фајерфокс не прати, нити бележи Ваш положај док прегледате веб.</p>
    </div>
</div>
<div class="expander expander-even" id="undo-permission">
    <h4 class="expander-header">Како да поништим дозволу коју сам дао за сајт?</h4>
    <div class="expander-content">
        <p>Ако сте дозволили фајерфоксу да увек дојављује Ваш положај неком сајту, а касније се предомислите, можете врло лако да опозовете дозволу.  Ево како:</p>
        <ul>
            <li>Идите на адресу сајта о ком је реч</li>
            <li>Идите у мени <em>Алатке</em>, а затим изаберите <em>Податке о страни</em></li>
            <li>Изаберите језичак <em>Дозволе</em></li>
            <li>Промените подешавања за <em>дојаву положаја</em></li>
        </ul>
    </div>
</div>
<div class="expander expander-odd">
    <h4 class="expander-header">Како могу да уклоним „случајни број за идентификацију клијента‟?</h4>
    <div class="expander-content">
        <ul>
            <li>Идите у мени <em>Алатке</em>, а затим изаберите <em>Очисти историјат</em></li>
            <li>Притисните на стрелицу са натписом <em>Детаљи</em></li>
            <li>Проверите да су <em>колачићи</em> обележени</li>
            <li>Притисните на <em>Уклони сад</em></li>
        </ul>
    </div>
</div>
<div class="expander expander-even">
    <h4 class="expander-header">Како да трајно искључим дојаву положаја?</h4>
    <div class="expander-content">
        <p>За дојаву положаја се у фајерфоксу 3.5 увек морате сами пријавити.  Никакви подаци о Вашем положају не дојављују се без Вашег пристанка.  Ако желите да трајно искључите ову могућност, молимо да испратите ових неколико корака:</p>
        <ul>
            <li>У адресној траци, куцајте <code>about:config</code></li>
            <li>Куцајте <code>geo.enabled</code></li>
            <li>Притисните двапут на ред у ком пише <em>geo.enabled</em></li>
            <li>Дојава положаја је сада искључена</li>
        </ul>
    </div>
</div>

<div id="geo-demo" style="display:none">
    <div id="map_canvas"></div>
    <button id="locateButton" type="button">Где се налазим?</button>
    <img id="geo-busy" src="/img/ajax_loading.gif" alt="busy"/>
    <p id="geodemo-error">О, не!  Дошло је до грешке приликом одређивања Вашег положаја.</p>
</div>

</div> <!-- end #main -->


<?php
@include_once "{$config['file_root']}/includes/footers/firefox/geolocation.inc.php";
@include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
