<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Фајерфокс (Firefox): 100% органски програм';
    $body_id    = 'firefox-organic';
    $body_class = 'products';
    
    $extra_headers = <<<EXTRA_HEADERS
<link rel="stylesheet" type="text/css" href="/style/tignish/organic-page.css" media="screen" />
EXTRA_HEADERS;

    @include_once "{$config['file_root']}/{$lang}/includes/header.inc.php";
?>

<div id="main-feature">
	<h2>Бољи пут до веба</h2>
	<p>Или: шта за Вас може да учини читач отвореног кода уз
	подршку заједнице.</p>
</div>

<ul id="side-menu">
	<li class="first"><h3><a href="/<?=$lang?>/products/">Производи</a> / <a href="/<?=$lang?>/firefox/">фајерфокс</a></h3></li>
	<li><a href="/<?=$lang?>/firefox/security/">Безбедност</a></li>
	<li><a href="/<?=$lang?>/firefox/addons/">Прилагођавање</a></li>
	<li><span>100% Organic Software</span></li>
	<li><a href="/<?=$lang?>/firefox/features/">Особине</a></li>
	<li><a href="/<?=$lang?>/firefox/tips/">Савети и трикови</a></li>
	<li><a href="/<?=$lang?>/firefox/<?=LATEST_FIREFOX_VERSION?>/releasenotes/">Белешке о издању</a></li>
	<li><a href="/<?=$lang?>/firefox/all.html">Други системи и језици</a></li>
</ul>

<div id="main-content">

	<h3>Шта су органски програми?</h3>
	<p><strong>У поређењу са другим софтверским фирмама, ми смо мало необични.</strong> Користимо израз „органски програм‟ као збирно име за све оно што нас разликује од остале момчади:</p>
	<p>Наш најпознатији производ, фајерфокс, направиле су хиљаде чланова међународног покрета,  од којих је само мали проценат наших запослених.</p>
	<p>Покреће нас наша мисија подстицања отворености, иновација и могућности на вебу, уместо пословних обзира попут профита или цена акција (пазите ово: чак ни немамо акције).</p>
	<p>Као <a href="http://www.mozilla.org/foundation/">непрофитна јавна добротворна организација</a>, успех дефинишемо као изградњу заједница и обогаћивање људског живота.  Верујемо у снагу и потенцијал интернета и желимо да расте и развија се за свакога, и свуда.</p>

	<img src="/img/tignish/organic/organic-inline-02.png" alt="Девојчица и фајерфокс" class="inline-02" />

	<div id="organic-open-source">
		<h3>Шта је отворени код?</h3>
		<p>Ово можда испрва изгледа лудо, али нас ипак испратите: <strong>ми верујемо да што више људи зна наше „тајне‟, то боље.</strong></p>
		<p>Зато смо изложили изворни код фајерфокса - све шрафове који га покрећу - пред очи свих који желе да га погледају.</p>
		<p>Неки људи су уочили ствари које треба поправити, па су их и поправили.  Други су имали идеје за нове могућности, па су их и уградили.  Неки трећи су узели исти код, применили сопствене изуме и саградили потпуно нове (и задивљујуће) производе.</p>
		<p>Која је поука ове приче?  Отвореност гарантује срећан крај.  Свако може да завири иза наших завеса… Заправо, наше завесе ни не постоје.</p>
	</div>

	<img src="/img/tignish/organic/organic-inline-01.png" alt="" />

	<div id="organic-why-care">
		<h3>Зашто ово треба да Вас занима?</h3>
		<p>Ми нисмо типична фирма, али <strong>и даље знамо како да се усредсредимо на оно најбитније:  прављење бољег веба за све вас</strong>.</p>
		<p>Отвореност значи да на следећу велику идеју може да дође ма ко широм света, не само неколико десетина наших радника у фирминим канцеларијама.  Ако на ствари гледате на тај начин, зашто бисте желели иједно друго стање ствари?</p>
		<p>Цела ова прича о органским програмима и отвореном коду напослетку значи бољи читач за Вас и осталих 130 милиона сталних корисника фајерфокса. То значи бољи квалитет и већу безбедност производа.  То значи иновацију, слободу и подршку интернету за све.</p>
	</div>

</div><!-- end #main-content div -->

<div id="sidebar">
	<script type="text/javascript" src="/js/download.old.js"></script>
    <script type="text/javascript">
        <!--
        // Configure the Firefox download write script
        var gDownloadItemTemplate = " <li class=\"%CSS_CLASS%\"> <h3>Get Firefox 3<\/h3><div>%VERSION% for %PLATFORM_NAME%<br \/> %LANGUAGE_NAME%&nbsp;(%FILE_SIZE%)<\/div><a onclick=\"javascript:do_download('%BOUNCER_URL%');\" href=\"%DOWNLOAD_URL%\" class=\"download-link download-firefox\">Набавите фајерфокс<span> - бесплатно<\/span><\/a></li>";
        var gDownloadItemMacOS9 = "<a href=\"\">Издања МекОС (MacOS) 9 и ранија нису подржана<\/a>";
        var gDownloadItemOtherPlatform = "<a href=\"/<?=$lang?>/firefox/<?=LATEST_FIREFOX_VERSION?>/releasenotes/#contributedbuilds\">Бесплатна набавка<\/a>"

        document.writeln("<ul class=\"download download-firefox " + gCssClass + " \">");
        writeDownloadItems("fx");
        document.writeln("<\/ul>");
        document.writeln("<div class=\"download-other\"><span class=\"other\">");
        document.writeln("<a href=\"\/<?=$lang?>\/firefox\/<?=LATEST_FIREFOX_VERSION?>\/releasenotes\/\">Белешке о издању<\/a>");
        document.writeln("| <a href=\"\/<?=$lang?>\/firefox\/all.html\">Други системи и језици<\/a>");
        document.writeln("<\/span><\/div>");
        //-->
    </script>
    <?php echo $firefoxDetails->getNoScriptBlockForLocale('sr'); ?>

	<ul class="what-is-mozilla">
		<li>
 			<h3>Шта је Мозила (Mozilla)?</h3>
 			<p>Ми смо глобална заједница, јавна добротворна организација и пројекат отвореног кода<span><a href="/<?=$lang?>/about/">Сазнајте више о нама</a></span></p>
 		</li>
	</ul>
</div>

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer.inc.php";
?>
