<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = "О идентификацији сајтова притиском на дугме";
    $body_id    = 'oneclick-sideid';
    $body_class = 'portal-page';
    $extra_headers = <<<EXTRA_HEADERS
    <link rel="stylesheet" type="text/css" href="/style/tignish/firefox-identity-page.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/style/tignish/mozilla-expanders.css" media="screen" />
EXTRA_HEADERS;

    include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<script type="text/javascript">// <![CDATA[

if (navigator.userAgent.indexOf("Windows NT 6.0") != -1) {
    document.body.className += ' platform-vista';
}

// ]]></script>


<div id="main-feature">
	<h2>О идентификацији сајтова притиском на дугме (One-Click Site ID)</h2>
	<p>Фајерфокс (Firefox) 3 садржи ново дугме које омогућава да сазнате са киме сте повезани када сте на вези.</p>
</div>

<div id="main-content">

<p class="intro">Ова могућност Вам дозвољава да на једном месту сазнате да ли веб сајт кога посећујете даје податке о идентитету, ко је проверио те податке и да ли су Ваши подаци заштићени од прислушкивања.  Можете да приступите идентитету ма ког сајта притиском на сличицу сајта с леве стране адресне траке (или куцасем комбинације шифт-таб-ентер).</p>

<h3>Често постављана питања</h3>

<div class="expander expander-odd" id="levels">
	<h4 class="expander-header">Шта значе различити нивои података о идентитету? </h4>
	<div class="expander-content">
		<p>Сличица „царинског службеника‟ се мења, зависно од нивоа података о идентитету које је веб сајт доставио.</p>
		<p class="site-id site-id-1">Сајт није доставио податке о идентитету.</p>
		<p class="site-id site-id-2">Сајт доставља основне податке о идентитету, и штити личне податке од прислушкивања.</p>
		<p class="site-id site-id-3">Сајт доставља потпуно провериве податке о идентитету власника, и штити личне податке од прислушкивања.</p>
		<p class="site-id site-id-4">Сајт је пријављен као злонамеран или фалсифика.  Давање личних података овом сајту, или чак посећивање, могу да нанесу штету.</p>
	</div>
</div>
<div class="expander expander-even">
	<h4 class="expander-header">Зашто сви сајтови не достављају проверене податке о идентитету?</h4>
	<div class="expander-content">
		<p>Већина веб сајтова на интернету не траже личне нити финансијске податке од посетилаца, па могу сматрати да није неопходно да уложе новац у доставу проверених података о идентитету и заштити од прислушкивања.</p>
		<p>Веб сајтови који желе да доставите своје личне или финансијске податке, или који тврде да представљају владине или пословне јединице, треба увек да се прописно идентификују, и да штите Ваше податке од прислушкивања.</p>
	</div>
</div>
<div class="expander expander-odd">
	<h4 class="expander-header">Да ли је безбедно пословање са сајтовима који се не идентификују?</h4>
	<div class="expander-content">
		<p>Одлука о томе коме на мрежи верујете почиње са сазнањем с киме причате, али то није цела прича.  Сајтови који не обезбеђују податке о иденитету и не штите Ваше личне податке Вас излажу ризику, и не треба да се сматрају безбеднима.  Али чак и сајтови који се прописно идентификују такође могу да спроводе мере са којима нисте сагласни, или да практикују недовољне мере безбедности.</p>
		<p>Као у стварном свету, морате да будете пажљиви при сучељавању са сајтовима које не знате или им не верујете.  Сазнање да се сајт прописно идентификовао је део доношења одлуке о поверењу.</p>
	</div>
</div>
<div class="expander expander-even">
	<h4 class="expander-header">Да ли Мозила проверава ове податке за сваки веб сајт?</h4>
	<div class="expander-content">
		<p>Мозила не проверава податке о идентитету сајтова.  Уместо тога се фајерфокс,  попут осталих читача, ослања на скуп компанија од поверења, познатим под заједничким именом „ауторитети за сертификовање‟ који проверавају идентитете сајтова и издају сертификате.  Ове компаније морају да се држе <a href="http://www.mozilla.org/projects/security/certs/policy/">Мозилине полисе за ауторитете за сертификовање (Mozilla CA Certificate Policy)</a> која, између осталог, тражи од њих да обезбеде независне студије које потврђују да се сертификати не издају на неодговарајућ начин.</p>
	</div>
</div>

</div>


<?php
	$extra_footers = <<<EXTRA_FOOTERS
<script type="text/javascript" src="/includes/yui/2.5.1/utilities/utilities.js"></script>
<script type="text/javascript" src="/includes/yui/2.5.1/container/container_core-min.js"></script>
<script type="text/javascript" src="/js/mozilla-expanders.js"></script>

EXTRA_FOOTERS;
    include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
