<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Mozilla | Како почети рад са програмом фајерфокс';
    $body_id    = 'central';
    $body_class = 'portal-page';
    @include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div class="portal-box">
<div class="portal-box-interior">

<div class="portal-box-header">
    <h1>Почетак рада са програмом фајерфокс</h1> 
    <p>У овом кратком упутству дат је водич за најбољи угођај при прегледу Интернета</p>
</div>

<div class="portal-box-contents">

    <h3>Како до помоћи</h3>

    <p>Програм фајерфокс садржи потпуни систем за помоћ.  Да бисте
    приступили систему за помоћ, изаберите ставку Помоћ из менија и
    изаберите Помоћ за програм фајерфокс.</p>

    <p>Водичи и остала подршка доступни су у многим <a href="/<?=$lang ?>/firefox/help/">водичима и упутствима</a> на мрежи.</p>

    <hr />

    <h3>Претрага података на мрежи</h3> <p>Данас је налажење података
    на мрежи лакше него икада.  Унесите речи које се траже у поље за
    претрагу, и добићете непосредне одговоре од претраживача које сте
    изабрали.  Увек можете да изаберете нови претраживач.</p>

    <hr />

    <h3>Подешавање програма фајерфокс</h3>
    <p>Када сте се једном упознали са главним могућностима, можете да
    проширите функционалност програма фајерфокс помоћу <a
    href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/extensions/">додатака</a>
    који служе за додавање нових особина и могућности у програм
    фајерфокс — и тиме обезбеђују кориснику прилагођено мрежно
    искуство.</p>

    <!--Note: below is only for locales that *DO NOT* ship with a dictionary  --> 
    <h3>Додајте и енглески речник у одељак за проверу правописа.</h3> 
    <p><a href="https://<?=$lang ?>.add-ons.mozilla.com/<?=$lang ?>/firefox/dictionaries/">Инсталирајте речник одмах</a></p>

</div> <!-- end .portal-box-contents  -->
</div> <!-- end .portal-box-interior  -->
</div> <!-- end .portal-box  -->

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
