<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Мозилини (Mozilla) производи | Безбедност';
    $body_id    = 'security';
    $extra_headers = <<<EXTRA_HEADERS
    <link rel="stylesheet" type="text/css" href="/style/tignish/security.css" media="screen" />
EXTRA_HEADERS;
    @include_once "{$config['file_root']}/{$lang}/includes/header.inc.php";

?>

<div id="main-feature">
	<h2>Најбезбеднији читач интернет страна</h2>
	<p>Фајерфокс (Firefox) држи Ваше личне податке и Ваше интересне сфере ван домашаја лоших момака.</p>
</div>

<ul id="side-menu">
	<li class="first"><h3><a href="/<?=$lang?>/products/">Производи</a> / <a href="/<?=$lang?>/firefox/">фајерфокс</a></h3></li>
	<li><a href="/<?=$lang?>/firefox/features/">Особине</a></li>
	<li><span>Безбедност</span></li>
	<li><a href="/<?=$lang?>/firefox/addons/">Прилагођавање</a></li>
	<li><a href="/<?=$lang?>/firefox/organic/">100% органски програм</a></li>
	<li><a href="/<?=$lang?>/firefox/tips/">Савети и трикови</a></li>
	<li><a href="/<?=$lang?>/firefox/<?=LATEST_FIREFOX_VERSION?>/releasenotes/">Белешке о издању</a></li>
	<li><a href="/<?=$lang?>/firefox/all.html">Други системи и језици</a></li>
</ul>

<div id="main-content">

	<div class="security-intro">
		<h3>Како то постижемо?</h3>
		<p>По чему се фајерфокс разликује?  Најважније, он је отворен.  То значи да ма ко, ма где на свету (постоје стотине стручњака које прате наше кретање) може да прегледа наш код и пронађе ма какву слабу тачку у нашем оклопу.</p>
		<p>Када чујемо за неки проблем, ми засучемо рукаве и кренемо одмах да га поправљамо.  У Вашем (и у нашем) најбољем интересу је да се ствар на време поправи, чак и ако то значи да морамо да признамо да нисмо савршени.</p>
		<p>Просто речено, <strong>Ваша безбедност је наш први приоритет.</strong></p>
	</div>

	<div class="method-madness">
		<img src="/img/tignish/security/key.png" alt="Постоји уређеност у нашем хаосу" width="150" height="151" />
		<h3>Постоји уређеност у нашем хаосу.</h3>
		<p>Нико не воли интернет више од нас.  Али преваранти, спамери и вирусне штеточине представљају претњу.  Када користите веб, морате да се заштитите.</p>
	</div>

	<div class="firefox-comes-in">
		<h3>Ту фајерфокс ступа на сцену.</h3>
		<p>Употреба фајерфокса је најбезбеднији начин за преглед веба јер:</p>
		<ul>
			<li><strong>Ми не решавамо проблем сами за себе.</strong>  Међународна заједница стручњака за безбедност даноноћно ради како би мрежу учинило безбеднијом за вас (захваљујући нашем приступу отвореног кода).  Слично као да имате лично обезбеђење састављено од врхунски обучених нинџи.</li>
			<li><strong>Ваша безбедност се разматра на сваком кораку.</strong> Стручњаци за безбедност раде од самог почетка како би разазнали и обрадили могуће проблеме пре него што је написана иједна линија кода.</li>
			<li><strong>Ми смо стално у току са збивањима.</strong>  Непрестано надгледамо могуће претње и објављујемо нова издања фајерфокса како бисмо увек били корак испред.  У свету изворног кода, то је зато што свако може да пронађе и поправи наше слабости.</li>
		</ul>
		<p>За више детаља о начину на који фајерфокс брине о вашој безбедности на интернету,  <a href="http://blog.mozilla.com/security" class="external">посетите наш блог о безбедности.</a></p>
	</div>

</div><!-- end #main-content div -->


<div id="sidebar">
	<script type="text/javascript" src="/js/download.old.js"></script>
    <script type="text/javascript">
        <!--
        // Configure the Firefox download write script
        var gDownloadItemTemplate = " <li class=\"%CSS_CLASS%\"> <h3>Get Firefox 3<\/h3><div>%VERSION% for %PLATFORM_NAME%<br \/> %LANGUAGE_NAME%&nbsp;(%FILE_SIZE%)<\/div><a onclick=\"javascript:do_download('%BOUNCER_URL%');\" href=\"%DOWNLOAD_URL%\" class=\"download-link download-firefox\">Набавите фајерфокс<span> - бесплатно<\/span><\/a></li>";
        var gDownloadItemMacOS9 = "<a href=\"\">Издања МекОС (MacOS) 9 и ранија нису подржана<\/a>";
        var gDownloadItemOtherPlatform = "<a href=\"/<?=$lang?>/firefox/<?=LATEST_FIREFOX_VERSION?>/releasenotes/#contributedbuilds\">Бесплатна набавка<\/a>"

        document.writeln("<ul class=\"download download-firefox " + gCssClass + " \">");
        writeDownloadItems("fx");
        document.writeln("<\/ul>");
        document.writeln("<div class=\"download-other\"><span class=\"other\">");
        document.writeln("<a href=\"\/<?=$lang?>\/firefox\/<?=LATEST_FIREFOX_VERSION?>\/releasenotes\/\">Белешке о издању<\/a>");
        document.writeln("| <a href=\"\/<?=$lang?>\/firefox\/all.html\">Други системи и језици<\/a>");
        document.writeln("<\/span><\/div>");
        //-->
    </script>
    <?php echo $firefoxDetails->getNoScriptBlockForLocale('sr'); ?>
	<div class="risk">
		<h1>Када сте изложени ризику?</h1>
		<p>Према независно спроведеном истраживању, 2006 корисници интернет експлорера (IE)  били су у 78% случајева изложени претњама на мрежи.  Корисници фајерфокса били су изложени свега у 2% случајева.</p>
		<img src="/img/tignish/security/chart.png" alt="Када сте изложени ризику" width="295" height="330" />
	</div>

	<div class="small-print">
		<p>„Изложеност ризику‟ дефинише се као број јавно доступних обавештења о безбедносним пропустима (exploit) за које не постоји закрпа.  Извор: <a class="external" href="http://blog.washingtonpost.com/securityfix/2007/01/internet_explorer_unsafe_for_2.html">“Internet Explorer users Unsafe for 284 Days in 2006”</a><br />
		Брајан Кребс (Brian Krebs), <em>Вашингтон пост (Washington Post)</em>, 4. јануар 2007.</p>
	</div>
</div>

<div id="divider"></div>

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer.inc.php";
?>
