<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Придружите се';
    $body_id    = 'community';
    $body_class = 'portal-page';
    $extra_headers = <<<EXTRA_HEADERS
    <link rel="stylesheet" type="text/css" href="/style/tignish/firefox-community.css" media="screen" />

EXTRA_HEADERS;
    @include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div id="main-feature">
	<h2>Придружите се Мозили (Mozilla)</h2>
	<p>Ми смо глобална заједница са циљем да веб постане боље место за све.</p>
</div>

<div id="content">

<p class="content-intro">Значи, желите да помогнете? Одлично! Не морате да будете гуру за Ц++ (нити морате да знате шта то значи) и не морате да утрошите много времена.</p>

<div class="get-involved-list" id="easy">
<h3>Лаки начини за придруживање</h3>
<ul>
<li><a href="/<?=$lang?>/products/">Причајте породици, пријатељима и колегама о Мозилиним производима</a></li>
<li><a href="http://support.mozilla.com/<?=$lang?>/kb/">Помозите другим људима на огласним таблама и форумима за подршку</a></li>
<li><a href="http://www.spreadfirefox.com/" class="external">Придружите се маркетиншком тиму заједнице и помозите нам са кампањама</a></li>
<li><a href="http://www.mozilla.org/quality/qfa.html" class="external">Редовно подносите извештаје о рушењима развојном тиму</a></li>
<li><a href="http://www.mozilla.org/projects/tech-evangelism/" class="external">Обавештавајте веб сајтове који не раде добро са Мозилиним производима</a></li>
<li><a href="http://www.mozilla.org/foundation/donate.html" class="external">Дајте прилог Мозилиној задужбини (Mozilla Foundation)</a></li>
</ul>
</div>

<div class="get-involved-list" id="tech">
<h3>За технички настројене</h3>
<ul>
<li><a href="http://www.mozilla.org/quality/help/" class="external">Придружите се тиму за контролу квалитета и пријавите грешке и друге проблеме које треба отклонити</a></li>
<li><a href="http://developer.mozilla.org/sr/docs/MDC:How_to_Help" class="external">Помозите програмерима да пишу и уреде документацију</a></li>
<li><a href="http://support.mozilla.com/sr/kb/Contributor+Home+Page" class="external">Помозите при писању и уређивању документације за крајње кориснике</a></li>
<li><a href="http://developer.mozilla.org/sr/docs/Extensions" class="external">Обогатите фајерфоксов екосистем развијањем додатка</a></li>
<li><a href="http://www.mozilla.org/hacking/" class="external">Исправите грешку или приложите код пројекту</a></li>
</ul>
</div>

</div>

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
