<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Mozilla | Добродошли у програм фајерфокс';
    $body_id    = 'firstrun';
    $body_class = 'portal-page';
    @include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div id="tab-close">
Притисните на дугме за затварање овог језичка да бисте отишли на Вашу
почетну страну
</div>

<script type="text/javascript"> loadFirstRunInstallImage(); </script>

<div class="portal-box">
<div class="portal-box-interior">

<div class="portal-box-header">
    <h1>Добродошли у програм фајерфокс!</h1>
    <p>Само што нисте открили зашто су милиони људи широм света почели да користе програм фајерфокс за бољи преглед мреже.</p>
</div>

<div class="portal-box-contents">

    <p>Искусите разлику.  Програм фајерфокс је развила и подржава га  <a
    href="/<?=$lang ?>/firefox/about/">Мозила (Mozilla)</a>, глобална заједница људи који се труде да мрежу направе бољим местом за све.</p>

    <p><a href="/<?=$lang ?>/firefox/central/">Научите више о могућностима програма фајерфокс</a>, или пратите упутства на врху ове стране да бисте затворили овај језичак и одмах отишли на Вашу почетну страну.</p>

    <!--Note: below is only for locales that *DO NOT* ship with a dictionary  --> 
    <h3>Додајте и енглески речник у одељак за проверу правописа.</h3> 
    <p><a href="https://<?=$lang ?>.add-ons.mozilla.com/<?=$lang ?>/firefox/dictionaries/">Инсталирајте речник одмах</a></p>

</div> <!-- end .portal-box-contents  -->
</div> <!-- end .portal-box-interior  -->
</div> <!-- end .portal-box  -->

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
