<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'О Мозили (Mozilla)';
    $body_id    = 'firefox-about';
    $body_class = 'portal-page';
    $extra_headers = <<<EXTRA_HEADERS
    <link rel="stylesheet" type="text/css" href="/style/tignish/firefox-about.css" media="screen" />

EXTRA_HEADERS;
    @include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div id="main-feature">
	<h2>Добра за мрежу.<br />Добра за свет.</h2>
</div>

<div id="content">

<p>Мозила није традиционална софтверска фирма.  Ми смо глобална <a
href="/<?=$lang?>/firefox/community/">заједница</a> посвећена изградњи
слободних, отворених софтверских производа и технологија које
унапређују угођај прегледа мрежног садржаја за људе широм света.  Ми
смо програмери, комерцијалисти, тестери и адвокати широм света, који
обезбеђују да мрежа остане јавно и дељено добро.  Верујемо да отворени
стандарди омогућују и поспешују избор и иновацију и да сви, свуда,
имају право на безбедан, брз и угодан мрежни угођај.</p>

<p>Наш награђивани <a href="/<?=$lang?>/products/">софтвер отвореног кода</a>
и <a href="http://www.mozilla.org/projects/">технологије</a> нуде се без и икакве накнаде људима широм света, на преко 40 језика.</p>

<p>Седиште Мозиле је место <a href="/<?=$lang?>/about/contact.html">Маунтин Вју (Mountain View) у Калифорнији</a> са месним канцеларијама у <a href="/<?=$lang?>/about/contact.html">Окленду</a>, <a href="/<?=$lang?>/about/contact.html">Пекингу</a>, <a href="/<?=$lang?>/about/contact.html">Копенхагену</a>, <a href="/<?=$lang?>/about/contact.html">Паризу</a>, <a href="/<?=$lang?>/about/contact.html">Токију</a> и <a href="/<?=$lang?>/about/contact.html">Торонту</a>.</p>

</div>

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
