<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Исти број не одговара свима';
    $body_id    = 'firefox-addons';
    $body_class = 'products';
    $extra_headers = <<<EXTRA_HEADERS
<link rel="stylesheet" type="text/css" href="/style/tignish/addons-page.css" media="screen" />
EXTRA_HEADERS;

    @include_once "{$config['file_root']}/{$lang}/includes/header.inc.php";
?>

<div id="main-feature">
	<h2>Исти број не одговара свима</h2>
	<p>Волите да стављате додатке на пицу и звукове на мобилни телефон.  Зашто не бисте прилагодили начин на који прегледате веб?</p>
</div>

<ul id="side-menu">
	<li class="first"><h3><a href="/<?=$lang?>/products/">Производи</a> / <a href="/<?=$lang?>/firefox/">Фајерфокс</a></h3></li>
	<li><a href="/<?=$lang?>/firefox/features/">Особине</a></li>
	<li><a href="/<?=$lang?>/firefox/security/">Безбедност</a></li>
	<li><span>Customization</span></li>
	<li><a href="/<?=$lang?>/firefox/organic/">100% органски програми</a></li>
	<li><a href="/<?=$lang?>/firefox/tips/">Упутства и савети</a></li>
	<li><a href="/<?=$lang?>/firefox/<?=LATEST_FIREFOX_VERSION?>/releasenotes/">Белешке о издању</a></li>
	<li><a href="/<?=$lang?>/firefox/all.html">Други системи и језици</a></li>
</ul>

<div id="main-content">
	<div class="addon-intro">
		<h3>По додатак за свакога</h3>
		<p>Фајерфокс (Firefox) има највише начина за прилагођавање утиска при употреби веба.  Постоји више од 5000 додатака (малих програма који допуњују фајерфокс како би одговарао Вашим потребама) који само чекају да Вам помогну да можете да урадите више, да се боље забавите и будете креативнији када сте на мрежи.</p>
		<p>Да ли желите да сазнате више детаља?  Прегледајте примере испод а затим <a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/">посетите наш сајт са додацима за пуну лепезу могућности.</a></p>
	</div>

	<div class="addon-feature">
		<div class="addon-category-alerts">
			<h4>Узбуне и доградње</h4>
			<p>Помоћу додатака у овој категорији, можете да сазнате временску прогнозу, спортске резултате или чак резултате аукција на ибеју (eBay).  Подаци се приказују у реалном времену у вашем читачу, без обзира који сајт читате.</p>
			<p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/browse/type:1/cat:72/sort:popular">Погледајте све додатке за узбуне и доградње</a></p>
		</div>
		<div class="addon-example">
			<p><span class="example">На пример:</span> <img src="/img/tignish/addons/ebay.png" width="75" height="31" alt="ebay" />Пратите трговину на ибеју кад год сте на вези.</p>
			<p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/addon/5202">Пробајте ибејево издање за фајерфокс</a> <span>које је направила корпорација ибеј (eBay Corporation).</span></p>
		</div>
	</div>

	<div class="addon-feature">
		<div class="addon-category-photos">
			<h4>Слике, музике и видео</h4>
			<p>Претворите Ваш фајерфокс у алат за слање слика, пуштање музике и мултимедијалну централу.  Као да имате под прстима све контроле док сурфујете, радите, шаљете поруке или истражујете на вебу.</p>
			<p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/browse/type:1/cat:38/sort:popular">Погледајте све додатке за слике, музику и видео.</a></p>
		</div>
		<div class="addon-example">
			<p><span class="example">На пример:</span> <img src="/img/tignish/addons/foxytunes.png" width="51" height="52" alt="foxytunes" />Управљајте скоро сваким програмом за пуштање медија директно из читача.</p>
			<p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/addon/219">Пробајте фокситјунс (FoxyTunes)</a> <span>аутор: Алекс Сирота (Alex Sirota)</span></p>
		</div>
	</div>

	<div class="addon-feature">
		<div class="addon-category-social">
			<h4>Друштво и везе</h4>
			<p>Ови додаци Вам помажу да нађете згодне нове ствари на мрежи, побољшате брзе поруке и останете у контакту са пријатељима на свим главним сајтовима за социјално умрежавање.</p>
			<p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/browse/type:1/cat:71/sort:popular">Прегледајте све додатке за друштво и везе</a></p>
		</div>
		<div class="addon-example">
			<p><span class="example">На пример:</span> <img src="/img/tignish/addons/stumbleupon.png" width="50" height="50" alt="stumbleupon" />Откријте нове сајтове а затим се повежите са пријатељима и поделите утиске.</p>
			<p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/addon/138">Пробајте стамблапон (StumbleUpon)</a> <span>аутор: стамблапон (StumbleUpon)</span></p>
		</div>
	</div>

	<div class="addon-feature">
		<div class="addon-category-themes">
			<h4>Теме и изглед</h4>
			<p>Не морате да се зауставите на стандардном дизајну.  Изаберите нове боје, олакшајте употребу читача (помоћу већих дугмади, за почетак) или само изаберите изглед који Вам одговара.</p>
			<p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/browse/type:2/cat:all/sort:popular">Прегледајте све додатке за теме и изгледе.</a></p>
		</div>
		<div class="addon-example">
			<p><span class="example">На пример:</span> <img src="/img/tignish/addons/nasa.png" width="54" height="53" alt="nasa" />Тема за људе који воле мрак.</p>
			<p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/addon/4908">Пробајте Насино (NASA) ноћно лансирање (Night Launch)</a> <span>аутор: mcdavis941</span></p>
		</div>
	</div>

</div>

<div id="sidebar">
	<script type="text/javascript" src="/js/download.old.js"></script>
    <script type="text/javascript">
        <!--
        // Configure the Firefox download write script
        var gDownloadItemTemplate = " <li class=\"%CSS_CLASS%\"> <h3>Get Firefox 3<\/h3><div>%VERSION% for %PLATFORM_NAME%<br \/> %LANGUAGE_NAME%&nbsp;(%FILE_SIZE%)<\/div><a onclick=\"javascript:do_download('%BOUNCER_URL%');\" href=\"%DOWNLOAD_URL%\" class=\"download-link download-firefox\">Набавите фајерфокс<span> - бесплатно<\/span><\/a></li>";
        var gDownloadItemMacOS9 = "<a href=\"\">Издања МекОС (MacOS) 9 и ранија нису подржана<\/a>";
        var gDownloadItemOtherPlatform = "<a href=\"/<?=$lang?>/firefox/<?=LATEST_FIREFOX_VERSION?>/releasenotes/#contributedbuilds\">Бесплатна набавка<\/a>"

        document.writeln("<ul class=\"download download-firefox " + gCssClass + " \">");
        writeDownloadItems("fx");
        document.writeln("<\/ul>");
        document.writeln("<div class=\"download-other\"><span class=\"other\">");
        document.writeln("<a href=\"\/<?=$lang?>\/firefox\/<?=LATEST_FIREFOX_VERSION?>\/releasenotes\/\">Белешке о издању<\/a>");
        document.writeln("| <a href=\"\/<?=$lang?>\/firefox\/all.html\">Други системи и језици<\/a>");
        document.writeln("<\/span><\/div>");
        //-->
    </script>
    <?php echo $firefoxDetails->getNoScriptBlockForLocale('sr'); ?>

	<ul class="add-ons">
		<li>
 			<h3>Додаци</h3>
 			<h5>Прилагодите фајерфокс</h5>
			<p><a href="https://addons.mozilla.org/firefox/">Прегледајте све додатке</a></span></p>
 		</li>
	</ul>
</div>

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer.inc.php";
?>
