<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Mozilla | Прилагодите програм фајерфокс';
    $body_id    = 'customize';
    $body_class = 'portal-page';
    @include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div class="portal-box">
<div class="portal-box-interior">

<div class="portal-box-header">
    <h1>Прилагодите фајерфокс (Firefox)</h1>
</div>

<div class="portal-box-contents">


    <h3>Прилагођавање програма фајерфокс</h3>

    <p><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/extensions/">Додаци за фајерфокс</a>
    Вам омогућавају да додате нову функционалност у фајерфокс додавањем нових могућности и преглед мреже прилагодите својим потребама.</p>

    <ul>
    <li><a href="http://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/">Прегледајте доступне додатке за фајерфокс</a></li>
    <li><a href="https://<?=$lang ?>.add-ons.mozilla.com/<?=$lang ?>/firefox/dictionaries/">Додајте речнике за проверу правописа</a></li>
    </ul>

</div> <!-- end .portal-box-contents  -->
</div> <!-- end .portal-box-interior  -->
</div> <!-- end .portal-box  -->


<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
