<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Mozilla | Прикључите се';
    $body_id    = 'community';
    $body_class = 'portal-page';
    @include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div class="portal-box">
<div class="portal-box-interior">

<div class="portal-box-header">
    <h1>Прикључите се Мозили!</h1>
    <p>Ми смо глобална заједница која чини мрежу бољим местом за све.</p>
</div>

<div class="portal-box-contents">

    <p>Значи желите да помогнете? Одлично! Не морате да будете маг за
    C++ (нити морате уопште да знате шта то значи!) и не морате да
    улажете ни много времена.</p>

<div class="side-box side-box-left" style="margin-left: 40px;">
    <div class="side-box-title">
        <h3 class="side-box-title-contents" id="easy">Како се укључити на лак начин</h3>
    </div>

    <ul class="side-box-contents">
    <li><a href="/<?=$lang ?>/products/">Причајте породици, пријатељима и колегама о Мозилиним производима</a></li>
    <li><a href="/<?=$lang ?>/support/">Помажите другим људима на форумима за подршку и огласним таблама</a></li>
    <li><a href="http://www.spreadfirefox.com/">Придружите се маркетиншком тиму и помажите наше кампање</a></li>
    <li><a href="http://www.mozilla.org/quality/qfa.html">Шаљите податке о грешкама нашем тиму за развој</a></li>
    <li><a href="http://www.mozilla.org/projects/tech-evangelism/">Обраћајте се власницима ел. места која не раде исправно са Мозилиним производима</a></li>
    <li><a href="http://www.mozilla.org/foundation/donate.html">Дајте прилог за Мозилину задужбину (Mozilla Foundation).</a></li>
    </ul>
</div>

<div class="side-box side-box-right" style="margin-right: 40px;">
    <div class="side-box-title">
        <h3 class="side-box-title-contents" id="tech">За технички усмерене</h3>
    </div>

    <ul class="side-box-contents">
    <li><a href="http://www.mozilla.org/quality/help/">Придружите се тиму за контролу квалитета и пријавите грешке и друге проблеме које треба уклонити</a></li>
    <li><a href="http://developer.mozilla.org/en/docs/Devmo:How_to_Help">Помозите око писања и уређивања документације за развијаче и крајње кориснике</a></li>
    <li><a href="http://developer.mozilla.org/en/docs/Extensions">Допринесите богатству еко-система око фајерфокса тако што ћете направити нови додатак</a></li>
    <li><a href="http://www.mozilla.org/hacking/">Исправите грешку или приложите код пројекту</a></li>
    </ul>
</div>

<div style="clear: both;"></div>

</div> <!-- end .portal-box-contents  -->
</div> <!-- end .portal-box-interior  -->
</div> <!-- end .portal-box  -->

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
