<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Mozilla | Програм Фајерфокс је унапређен';
    $body_id    = 'whatsnew';
    $body_class = 'portal-page';
    @include_once "{$config['file_root']}/{$lang}/includes/header-portal-pages.inc.php";
?>

<div class="portal-box">
<div class="portal-box-interior">

<div class="portal-box-header">
    <h1>Управо сте доградили свој програм Фајерфокс на последње доступно издање!</h1>
</div>

<div class="portal-box-contents">

    <p>За детаље о новинама у овом издању молимо да погледате <a
    href="/<?=$lang ?>/firefox/2.0.0.4/releasenotes/">белешке о издању</a>.</p>

    <h3>Јесте ли већ чули да...</h3>

    <div class="corner-box">
    <img src="/img/portal-page/firefox-updated-tools-ico.png" alt="" />
    <p><strong><a href="https://<?=$lang?>.add-ons.mozilla.com/<?=$lang?>/firefox/extensions/">Додаци за Фајерфокс</a></strong><br />
    Можете да бирате међу стотинама бесплатних додатака који побољшавају функционалност програма Фајерфокс додајући нове могућности и дајући вам прилику да изглед програма прилагодите својим жељама.</p>
    </div>

    <!--Note: below is only for locales that *DO NOT* ship with a dictionary  --> 
    <h3>Додајте и енглески речник у одељак за проверу правописа.</h3> 
    <p><a href="https://<?=$lang ?>.add-ons.mozilla.com/<?=$lang ?>/firefox/dictionaries/">Инсталирајте речник одмах</a></p>

</div> <!-- end .portal-box-contents  -->
</div> <!-- end .portal-box-interior  -->
</div> <!-- end .portal-box  -->

<?php
    @include_once "{$config['file_root']}/{$lang}/includes/footer-portal-pages.inc.php";
?>
