<?php
    // The $body_* variables are for compatibility with pre-existing css
    $page_title = 'Мозилини (Mozilla) производи | Упутства и савети';
    $body_id    = 'tips';
    $extra_headers = <<<EXTRA_HEADERS
    <link rel="stylesheet" type="text/css" href="/style/tignish/tips.css" media="screen" />
EXTRA_HEADERS;
    @include_once "{$config['file_root']}/{$lang}/includes/header.inc.php";

?>

<div id="main-feature">
	<h2>Упутства и савети</h2>
	<p>Без обзира да ли сте почетник, искусан или напредан корисник, ове пречице и предлози ће Вам помоћи да извучете максимум из фајерфокса (Firefox) 3.</p>
</div>

<ul id="side-menu">
	<li class="first"><h3><a href="/<?=$lang?>/products/">Производи</a> / <a href="/<?=$lang?>/firefox/">фајерфокс</a></h3></li>
	<li><a href="/<?=$lang?>/firefox/features/">Особине</a></li>
	<li><a href="/<?=$lang?>/firefox/security/">Безбедност</a></li>
	<li><a href="/<?=$lang?>/firefox/addons/">Прилагођавање</a></li>
	<li><a href="/<?=$lang?>/firefox/organic/">100% органски програм</a></li>
	<li><span>Упутства и савети</span></li>
	<li><a href="/<?=$lang?>/firefox/<?=LATEST_FIREFOX_VERSION?>/releasenotes/">Белешке о издању</a></li>
	<li><a href="/<?=$lang?>/firefox/all.html">Други системи и језици</a></li>
</ul>

<div id="main-content">

	<div id="beginner" class="pager pager-with-nav pager-no-history">
		<h3>За почетнике</h3>

		<div class="pager-content">

			<div class="slide-common" id="beginner-slide01">

				<?=buildPlatformImage('/sr/img/tignish/tips/beginner-01.jpg', 'Слика увеличавања и умањивања', '365', '251', 'right')?>

				<h4>Увеличавање и умањивање</h4>
				<p>Доста Вам је сићушног текста?  Желите да слике видите изблиза?  Сада можете једноставно да увеличавате и умањујете веб стране.</p>

				<div class="key-combo">
					Увеличавање
					<?=buildPlatformImage('/sr/img/tignish/tips/zoom-in.png', 'ктрл + + (мек: ⌘ + +)', '107', '37')?>
				</div>
				<div class="key-combo">
					Умањивање
					<?=buildPlatformImage('/sr/img/tignish/tips/zoom-out.png', 'ктрл + - (мек: ⌘ + -)', '107', '37')?>
				</div>
			</div>

			<div class="slide-common" id="beginner-slide02">

				<?=buildPlatformImage('/sr/img/tignish/tips/beginner-02.jpg', 'Слика са триковима с језичцима', '388', '135', 'right')?>

				<h4>Пробајте ове трикове с језичцима</h4>
				<p>Ако сте од оних људи који воле да имају много отворених страна у сваком тренутку, језичци ће Вам сигурно користити.  Ево неколико пречица с тастатуре које ће Вам помоћи да овладате управљањем језичцима:</p>

				<div class="key-combo key-combo-1">
				        Отварање новог празног језичка
					<?=buildPlatformImage('/sr/img/tignish/tips/new-tab.png', 'ктрл + T (мек: ⌘ + T)', '106', '37')?>
				</div>
				<div class="key-combo">
					Отварање везе у новом језичку
					<?=buildPlatformImage('/sr/img/tignish/tips/new-tab-click.png', 'Средње дугме притиснуто изнад везе (мек: ⌘ + притисак на везу)', '132', '37')?>
				</div>
				<div class="key-combo">
					Затварање језичка
					<?=buildPlatformImage('/sr/img/tignish/tips/close-tab.png', 'ктрл + W (мек: ⌘ + W)', '106', '37')?>
				</div>
				<div class="key-combo">
					Поновно отварање затвореног језичка
					<?=buildPlatformImage('/sr/img/tignish/tips/reopen-tab.png', 'ктрл + шифт + T (мек: ⌘ + шифт + T)', '201', '37')?>
				</div>
			</div>

			<div class="slide-common" id="beginner-slide03">

				<?=buildPlatformImage('/sr/img/tignish/tips/beginner-03.jpg', 'Слика забелешки', '378', '252', 'right')?>

				<h4>Додавање забелешке једним притиском на дугме</h4>
				<p>Пратите сајтове који Вам се допадају (и уштедите време) употребом брзих забелешки.  Када посетите страну коју бисте да забележите, само притисните на сличицу звездице у траци са локацијом.  Фајерфокс ће је забележити како бисте могли лако да је поново пронађете.</p>
			</div>

			<div class="slide-common" id="beginner-slide04">
				<ul>
					<li>
						<?=buildPlatformImage('/img/tignish/tips/security-icon-01.jpg', 'Сличица безбедности', '54', '49')?>
						Сајт нуди проверене податке о идентитету и штити Ваше личне податке од прислушкивања.
					</li>
					<li>
						<?=buildPlatformImage('/img/tignish/tips/security-icon-02.jpg', 'Сличица безбедности', '54', '49')?>
						Сајт нуди  основне податке о идентитету и штити Ваше личне податке од прислушкивања.
					</li>
					<li>
						<?=buildPlatformImage('/img/tignish/tips/security-icon-03.jpg', 'Сличица безбедности', '54', '49')?>
						Сајт не нуди никакве податке о идентитету.
					</li>
				</ul>

				<h4>Знајте с ким имате посла</h4>
				<p>Честа тактика мрежних превараната је отварање лажних сајтова, познатих под именом сајтови за фишинг (phishing sites), који су прерушени да личе на сајтове Ваше омиљене банке, продавнице и слично.  Срећом, фајерфокс Вам омогућава да лако одредите да ли су сајтови баш они који тврде да јесу - само притисните на сличицу сајта за непосредни преглед података о идентитету сајта.</p>
				<p id="forgery">Злонамеран сајт или фалсификат; давање личних података овом сајту, или чак посећивање може да буде шкодљиво.
				<img src="/sr/img/tignish/tips/forgery.png" alt="Слика фалсификата" />
				</p>
			</div>

			<div class="slide-common" id="beginner-slide05">
				<div id="keys-column-right">
					<div class="clear">
						<div class="key-combo">
							Страна наниже
							<img src="/sr/img/tignish/tips/scroll-down.png" alt="размак" />
						</div>
						<div class="key-combo">
							Страна увис
							<img src="/sr/img/tignish/tips/scroll-up.png" alt="шифт + размак" />
						</div>
					</div>
					<div class="clear">
						<div class="key-combo">
							Освежавање стране
							<?=buildPlatformImage('/sr/img/tignish/tips/reload.png', 'ктрл + R (мек: ⌘ + R)', '106', '37')?>
						</div>
					</div>
					<div class="clear">
						<div class="key-combo">
							Назад
							<?=buildPlatformImage('/sr/img/tignish/tips/back.png', 'ктрл + ← (мек: ⌘ + ←)', '94', '37')?>
						</div>

						<div class="key-combo">
							Напред
							<?=buildPlatformImage('/sr/img/tignish/tips/forward.png', 'ктрл + → (мек: ⌘ + →)', '94', '37')?>
						</div>
					</div>
				</div>

				<h4>Пречицом до успеха</h4>
				<p>Фајерфокс је крцат скраћеницама са тастатуре које су направљене да би Вам олакшале рад.  Ево неколико наших омиљених:</p>

				<div id="keys-column-left">
					<div class="key-combo">
						Помера курсор у траку са адресом
						<?=buildPlatformImage('/sr/img/tignish/tips/cursor-location.png', 'ктрл + L (мек: ⌘ + L)', '94', '37')?>
					</div>
					<div class="key-combo">
						Помера курсор у поље за претрагу
						<?=buildPlatformImage('/sr/img/tignish/tips/cursor-search.png', 'ктрл + K (мек: ⌘ + K)', '94', '37')?>
					</div>
				</div>
			</div>

		</div><!-- end pager-content -->

	</div>

	<div id="intermediate" class="pager pager-with-nav pager-no-history">
		<h3>За редовне кориснике</h3>

		<div class="pager-content">

			<div class="slide-common" id="intermediate-slide01">

				<?=buildPlatformImage('/sr/img/tignish/tips/intermediate-01.jpg', 'Слика забелешки', '378', '252', 'right')?>

				<h4>Означавање</h4>
				<p>Када једном сакупите много забелешки, вођење рачуна о њима може да постане мало незграпно.  Да бисте и даље били организовани, можете да доделите ознаке забелешкама.  Двоструки клик на звезду и добићете упит да унесете ознаку.</p>
				<p>Можете да означите забелешку са колико год желите ознака (не заборавите да их раздвојите запетама), и онда можете лако да их опет пронађете куцањем те ознаке у адресну траку.  На пример, уношење ознаке Путовање у адресну траку ће исписати све сајтове које сте означили као део Вашег истраживања о путовањима.</p>
			</div>

			<div class="slide-common" id="intermediate-slide02">

				<?=buildPlatformImage('/sr/img/tignish/tips/intermediate-02.jpg', 'Слика додатака', '378', '252', 'right')?>

				<h4>Сазнајте више о додацима</h4>
				<p>Стандардно издање фајерфокса је препуно могућности, дабоме, али зашто бисте се на томе зауставили?  Постоји више од 5000 додатака - малих програма који прилагођавају фајерфокс - које можете да преузмете како бисте побољшали скоро све што Вам падне на памет.  Изаберите ставку Алати → Додаци како бисте отворили Управника додацима и открили све начине на које можете да прилагодите фајерфокс свом укусу.</p>
			</div>

			<div class="slide-common" id="intermediate-slide03">

				<?=buildPlatformImage('/sr/img/tignish/tips/intermediate-03.jpg', 'Слика претраге', '378', '252', 'right')?>

				<h4>Тражите паметније</h4>
				<p>Већ знате за трагу за претрагу која је уграђена у фајерфокс.  Али да ли знате да можете да је прилагодите употребом практично било ког претраживача, по жељи?  Само притисните на сличицу лево од траке са претраживачима како бисте добили списак изворних опција.</p>
				<p>Штавише, притисак на Управљање претраживачима… даје могућност преуређивања списка, додавања других претраживача и чак доделе пречица са тастатуре.  На пример, можете да доделите Гуглу (Google) скраћеницу "Ф" - тада ће за тражење рецепата бити довољно да откуцате: „Г рецепти за колаче‟ у адресну траку како бисте добили пуни списак.</p>
			</div>

			<div class="slide-common" id="intermediate-slide04">

				<?=buildPlatformImage('/sr/img/tignish/tips/intermediate-04.jpg', 'Слика претраге', '378', '252', 'right')?>

				<h4>Претражите за тили час</h4>
				<p>Још једна корисна могућност је и претрага док куцате.  Пре него ли користите траку за претрагу да бисте тражили реч на страну, само притисните ма где на страни и почните да куцате реч коју тражите.  Курсор ће одмах скочити на прву појаву израза.</p>
				<p>Можете да га користите и за налажење веза.  На пример, уместо да померате курсор миша по екрану до везе „Сазнајте више‟, можете само да почнете да куцате реч и, када је курсор пронађе, да притиснете тастер ентер.</p>
			</div>

			<div class="slide-common" id="intermediate-slide05">

				<?=buildPlatformImage('/sr/img/tignish/tips/intermediate-05.jpg', 'Слика приватности', '378', '252', 'right')?>

				<h4>Уклоните све трагове</h4>
				<p>Из разлога безбедности и приватности, није добра идеја да за собом остављате трагове када читате стране на интернету (поготово ако рачунар делите с другим особама).  Фајерфокс Вам допушта да уклоните историјат читања и прегледа страна, уклоните кеш за податке и избришете колачиће притиском на једно дугме.  Просто отиђите на Алати → Уклони приватне податке… и биће учињено.  Или, још обазривије, идите на <span id="trace-platform">Алати → Опције → Безбедност</span> и изаберите „Увек уклони моје приватне податке када затворим фајерфокс‟.</p>
				<script type="text/javascript">//<![CDATA[
				if (gPlatform == 3 || gPlatform == 4) {
					document.getElementById('trace-platform').innerHTML="Фајерфокс → Поставке → Приватност";
				} else if (gPlatform == 2) {
					document.getElementById('platform-protocol').innerHTML="Уреди → Поставке → Приватност";
				}
				//]]></script>
			</div>

		</div><!-- end pager-content -->

	</div>

	<div id="advanced" class="pager pager-with-nav pager-no-history">
		<h3>За напредне кориснике</h3>

		<div class="pager-content">
			<div class="slide-common" id="advanced-slide01">

				<?=buildPlatformImage('/sr/img/tignish/tips/advanced-01.jpg', 'Слика адресне траке', '378', '252', 'right')?>

				<h4>Стигните пречицом до омиљених сајтова</h4>
				<p>Можете да додате кључне речи уз Ваше забелешке ради лакшег и бржег приступа.  Из Библиотеке, само додајте кратку кључну реч у поље с кључним речима, и моћи ћете да дођете до дате забелешке просто куцањем наведене речи у адресну траку.  На пример, можете да садржају са сајта del.icio.us додате кључну реч „везе‟ и од тада надаље, куцање речи „везе‟ у адресној траци ће Вас одвести директно тамо.</p>
			</div>

			<div class="slide-common" id="advanced-slide02">

				<?=buildPlatformImage('/sr/img/tignish/tips/advanced-02.jpg', 'Слика са забелешкама', '378', '252', 'right')?>

				<h4>Направите паметне директоријуме</h4>
				<p>Ако сте напредни сурфер коме је често потребно чување и праћење одређених сајтова, ево савета који штеди време:  употребом фајерфоксове библиотеке, можете да правите и чувате претраге у директоријуме који се аутоматски освежавају како бележите сајтове и стварате историјат.</p>
				<p>Прво, отворите библиотеку избором везе „Уреди забелешке‟ из менија Забелешке.  Затим унесите израз за претрагу у поље за претрагу.  Затим притисните дугме „Сачувај‟ да бисте направили паметни директоријум.</p>
			</div>

			<div class="slide-common" id="advanced-slide03">

				<?=buildPlatformImage('/sr/img/tignish/tips/advanced-03.jpg', 'Слика управника преносима', '378', '252', 'right')?>

				<h4>Управљајте преносима</h4>
				<p>Ако често преносите датотеке, можете да користите прозор управника преносима да бисте пратили све пријеме.  Можете да паузирате и настављате пријеме, и можете себи да уштедите време отварањем датотека директно из управника.</p>
				<p>Ако желите да пронађете стари пријем, идите у мени Алати → Пријеми и користите поље за претрагу како бисте пронашли датотеку. Када је једном нађете, притисните је двапут како бисте је отворили, или притисните десно дугме и изаберите „Умножи везу пријема‟.</p>
			</div>

			<div class="slide-common" id="advanced-slide04">

				<?=buildPlatformImage('/sr/img/tignish/tips/advanced-04.jpg', 'Слика развојних алата', '378', '252', 'right')?>

				<h4>Откријте развојне алате</h4>
				<p>Ако развијате за веб, фајерфоксови развојни алати ће Вам олакшати живот. <a href="https://addons.mozilla.org/sr/firefox/browse/type:1/cat:4">Мозилин сајт са додацима</a> нуди много алата који поспешују развојни процес, укључујући фајербаг (Firebug) за уређивање, исправљање грешака и надгледање ЦССа, ХТМЛа и јаваскрипта директно у страницама; преглед и измену података у заглављима за ХТТП и ХТТПС протоколе и ДОМ инспектор за испитивање ма ког елемента ХТМЛа и ЦССа простим десним кликом.</p>
			</div>

			<div class="slide-common" id="advanced-slide05">

				<?=buildPlatformImage('/sr/img/tignish/tips/advanced-05.jpg', 'Слика поставки', '378', '252', 'right')?>

				<h4>Подесите веб како Вам одговара</h4>
				<p>Сада можете да користите мрежне обраде протокола за брзи приступ омиљеним програмима на мрежи.  На пример можете да подесите фајерфокс тако да се притисак на везу са протоколом „mailto:‟ отвори у омиљеном мрежном програму за праћење поште. (примедба: ова могућност је доступна само за сервисе који су се регистровали фајерфоксу 3).</p>
				<p>Идите на <span id="platform-protocol">Алати → Опције → Програми</span> да изаберете изворни програм за обраду појединих протокола или изаберите „Увек питај‟ ако више волите да сваки пут одредите који ће програм бити коришћен.</p>
				<script type="text/javascript">//<![CDATA[
				if (gPlatform == 3 || gPlatform == 4) {
					document.getElementById('platform-protocol').innerHTML="Фајерфокс→Поставке→Програми";
				} else if (gPlatform == 2) {
					document.getElementById('platform-protocol').innerHTML="Уреди→Поставке→Програми";
				}
				//]]></script>
				<p>Ако развијате програме за веб, испитајте како да додате подршку за обраду мрежних протокола помоћу <a href="http://developer.mozilla.org/">Мозилиног развојног центра.</a></p>
			</div>

		</div><!-- end pager-content -->

	</div>

	<div id="ruler"></div>
</div><!-- end #main-content div -->

<?php
	$extra_footers = <<<EXTRA_FOOTERS
<script type="text/javascript" src="/js/mozilla-pager.js"></script>

EXTRA_FOOTERS;
    @include_once "{$config['file_root']}/{$lang}/includes/footer.inc.php";
?>
